html {
    font-size: 10px;
    font-family: 'KoHo', sans-serif;
    background-color: rgba(255, 255, 255, 0.863);

}

body{
    width: 600px;
    margin: 0 auto;
    background-color:rgba(142, 226, 247, 0.911);
    padding: 0 20px 20px 20px;
    border: 5px solid black;

}

h1 {
    margin: 0;
    padding: 20px 0;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;

}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
