
<html>
<head>
</head>
<style>
h1 {
    text-align: center;
    color:inherit;
    border-style: double;
   border-width: 10px;
   margin-right: 10px;
   margin-left: 200px;
   height: 50px;

}

ul {
    text-align: left;
    color: inherit;
    margin-right: 500px;
    margin-left: 500px;

  }






</style>
</head>
<body style="background-color:lightBlue;">

  <h1 style="background-color:lightBlue;" ><b>STRESS<b></h1>

<ul style="background-color:lightBlue;">
  <li>Do have 101 things to do but only have time for 1?</li>

  <li>  Are you constantly going 100 miles a minute and never stopping to contemplating life?</li>
  <li>  Do you feel overwheelmed but don't really know why? </li>
    <li>If any of these sound farmilier then this is the website for you! </li>
  </ul>


</body >
</html>
