<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=KoHo" rel="stylesheet">
        <link href="./styles/style.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>Symptoms</title>
    </head>

    <body>
        <h1>Symptoms of stress</h1>

        <p>It is important to examine the symptoms and causes of stress. </p>
        <p>Here is some more information about stress, including symptoms, causes, and more!</p>
        <u1>
            <li>Links maybe...</li>
            <li>Another link?</li>
        
        </u1>
    </body>
</html>