<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Remedies</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../../public/stylesheets/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../../../public/stylesheets/main.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link href="../../../public/stylesheets/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="../../../public/stylesheets/remedies.css" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/symptoms">Symptoms</a></li>
                <li><a href="/causes">Causes</a></li>
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Remedies<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/remedies">All Remedies</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/remedies/music">Calming Music</a></li>
                        <li><a href="/remedies/funny">Funny Images</a></li>
                        <li><a href="/remedies/animals">Animals</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="page-container">
    <div class="top-element">
        <h1>Remedies</h1>
    </div>
    <div class="list-container">
        <a href="/remedies/music">
            <ul class="text-with-icon"><i class="fa fa-music icon-left" aria-hidden="true"></i>Listening to music<i
                    class="fa fa-music icon-left" aria-hidden="true"></i></ul>
        </a>
        <a href="/remedies/funny">
            <ul class="text-with-icon"><i class="fa fa-smile-o icon-left" aria-hidden="true"></i>Funny Things<i
                    class="fa fa-smile-o icon-right" aria-hidden="true"></i></ul>
        </a>
        <a href="/remedies/animals">
            <ul class="text-with-icon"><i class="fa fa-paw icon-left" aria-hidden="true"></i>Cute Animals<i
                    class="fa fa-paw icon-right" aria-hidden="true"></i></ul>
        </a>
    </div>

    <img src="../../../public/images/fanta-c.jpeg">
    <audio id="music" autoplay controls style="display: none">
        <source src="../../../public/music/Bohemian_Rhapsody.mp3" type="audio/mpeg">
    </audio>
    <div class="icon-container">
        <i class="fa fa-pause icon-left-bottom" onclick="document.getElementById('music').pause()" aria-hidden="true"></i>
        <i class="fa fa-play icon-right-bottom" onclick="document.getElementById('music').play()" aria-hidden="true"></i>
    </div>
</div>

</body>
</html>